.new-button {
  float: right;
  margin: 10px 0;

  .btn-info {
    color: #fff;
    font-weight: bold;
  }
}

.action-btn-group {
  .show-btn {
    float: left;
    padding: 7px;
  }

  .edit-btn {
    float: left;
    padding: 7px;

    .fa {
      color: #38c172;
    }
  }

  .delete-btn {
    float: left;
    padding: 0px;

    .fa {
      color: #c51f1a;
    }
  }
}